@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primery-color:#04d2c8;
  --Deep-color:#00c6ff;
  --secondary-color: #000000;
  --personalWhite-color: #FFFFFF;
  --bgColor-color: #f7f7f7;
}

body{
  background-color: #f7f7f7;
  margin:0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

